In [1]:
import pandas as pd
import itertools

In [6]:
df = pd.read_csv(r"E:\Test\Inputs\costs\df_NC_summary_100.csv")

if 'Unnamed: 0' in df.columns:  # 假设第一列是行标签（例如 'mean', 'std', 'min', 等）
    df.set_index('Unnamed: 0', inplace=True)

In [7]:
df

,NC_landappli,NC_building,NC_inci,NC_landfill,NC_other,TC_coal,NC_cowaste
Unnamed: 0,,,,,,,
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,-1788.420119,10.130797,631.998898,300.996673,-330.134709,437.840275,326.275822
std,770.912265,108.200834,412.051702,50.566145,350.581880,67.060087,86.489670
min,-3090.597691,-217.296914,-150.086836,209.293229,-996.573553,319.239381,142.243965
25%,-2471.275752,-74.413654,362.705483,252.852020,-605.432843,382.176055,265.153182
50%,-1840.812674,3.183360,598.842834,307.047680,-368.565382,438.220306,331.885832
75%,-1093.161996,93.089168,961.416417,345.737702,-37.325292,490.513275,388.535398
max,-474.775439,220.538127,1506.655461,392.097525,374.379632,569.529620,525.735876
Lower Bound,-1941.385837,-11.338596,550.238901,290.963253,-399.697760,424.534099,309.114395
Upper Bound,-1635.454400,31.600190,713.758895,311.030093,-260.571659,451.146452,343.437249

In [15]:
# 提取的值
first_five_min = df.loc['Lower Bound', ['NC_landappli', 'NC_building', 'NC_inci', 'NC_landfill', 'NC_other']]
first_five_ave = df.loc['mean', ['NC_landappli', 'NC_building', 'NC_inci', 'NC_landfill', 'NC_other']]
first_five_max = df.loc['Upper Bound', ['NC_landappli', 'NC_building', 'NC_inci', 'NC_landfill', 'NC_other']]

coal_min = df.loc['Lower Bound', 'TC_coal']
coal_ave = df.loc['mean', 'TC_coal']
coal_max = df.loc['Upper Bound', 'TC_coal']

msw_min = df.loc['min', 'NC_cowaste']
msw_ave = df.loc['mean', 'NC_cowaste']
msw_max = df.loc['Upper Bound', 'NC_cowaste']

# 组合前五种方案的 MIN、AVE、MAX
first_five_combinations = [
    first_five_min.values,
    first_five_ave.values,
    first_five_max.values
]

# 组合后两种方案的 MIN、AVE、MAX
last_two_combinations = list(itertools.product(
    [coal_min, coal_ave, coal_max],
    [msw_min, msw_ave, msw_max]
))

# 生成所有组合
combinations = list(itertools.product(first_five_combinations, last_two_combinations))

# 展平组合并创建 DataFrame
flattened_combinations = [
     list(five) + list(two) for five, two in combinations
]

# 创建 DataFrame
columns = [
    "NC_landappli", "NC_building", "NC_inci", 
    "NC_landfill", "NC_other", 
    "NC_combustion_coal", "NC_combustion_msw"
]

df_combinations = pd.DataFrame(flattened_combinations, columns=columns)

# 添加 'num' 列
df_combinations.insert(0, 'num', range(0, len(df_combinations) ))

df_combinations.to_csv(r"E:\Test\Inputs\costs_SA\Cost_Combination_Schemes_95CL.csv",index=False)

In [11]:
first_five_min

NC_landappli   -3090.597691
NC_building     -217.296914
NC_inci         -150.086836
NC_landfill      209.293229
NC_other        -996.573553
Name: min, dtype: float64